{% if settings.dgHomeLink === true %}
  <nav class="nav-panel">
    <div class="nav-panel__brand">
      <a class="nav-panel__brand-link" href="{{ '/' | url }}">{{ meta.siteName }}</a>
    </div>
    {% if settings.dgEnableSearch === true %}
      <div class="nav-panel__actions">
        {% include "components/searchButton.njk" %}
      </div>
    {% endif %}
  </nav>
{% else %}
  <div class="nav-panel nav-panel--empty">
    {% if settings.dgEnableSearch === true %}
      <div class="nav-panel__actions">
        {% include "components/searchButton.njk" %}
      </div>
    {% endif %}
  </div>
{% endif %}
